---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead"
  style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-15 col-md-10 mx-auto">
          <div class="page-heading">
            <h1 style="color: azure">Mental health during lockdowns through the eyes of Wikipedia</h1>
            {% if page.description %}
            <span class="subheading">{{ page.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <head>
          <style>
            h1 {
              color: purple;
              font-size: 30px;
            }

            h2 {
              color: purple;
              font-size: 25px;
            }

            h3 {
              color: purple;
              font-size: 20px;
            }

            p {
              font-size: 18px;
            }

            /*this is the size of text*/
            ::selection {
              color: white;
              background: purple;
            }

            /* Code for Firefox */
            /*::-moz-selection {
              color: red;
              background: yellow;
            }*/
          </style>
        </head>

        <body>

          <!-- Body -->
          <h1 id="Introduction">Introduction</h1>

          <!-- Will have to update this text after-->
          !TODO UPDATE AFTER FINISHING DATA STORY!

          <p>
            The COVID-19 pandemic braught an undoubtedly change into our daily lives and has had many consequences on
            society, individual's and their behaviors.
            We would expect the COVID-19 pandemic, along with the lockdown restrictions, social distancing and reduced
            working opportunities, to have had an impact on the mental health of many individuals, but how to evaluate
            these effects?.
            To what degree did the COVID-19 pandemic correlate with mental health awareness?, how does it correlate with
            the real number of mental health cases? and did these effects persist after relaxation of restrictions?.
            Futhermore can we deduce what governmental policies and COVID related events have the biggest impact on
            mental
            health awarness?
          </p>

          <h1>What data?</h1>
          <!-- include our approahc, why we selected subset of mental health issues and selection of countries/language groups to focus on-->
          <h2>
            Wikipedia pageviews
          </h2>

          <p>
            Pageviews for certain online website pages can be used as an indicator of awarness towards specific
            topics.
            Although using pageviews as predictor or indicator of occurring events does have its downfalls(which we
            will
            address later), it can still be used as a powerful tool to measure awareness and popularity.

            The next issue however, is where to get reliable pageview statistics?. With an average monthly number of
            263
            million pageviews per month targeted towards specific pages and topics, Wikipedia is the most popular
            online
            encyclopedia, furthermore Wikipedia provides us with detailed daily pageview statistics for specific
            pages
            and for specific languages.
          </p>

          <h3>
            But every country reacted differently
          </h3>
          <p>
            Many countries have had very different approaches towards the pandemic, with different lockdown dates
            and
            levels of interference to mobility and social relationships. It is thus necessary to analyse data on a
            'per
            country' basis, if we wish to study the effects of the COVID-19 and its restriction, on individuals.
          </p>

          <p>
            In order to approximate 'per country' level pageview data we will focus on wikipedia articles that are
            written in languages used only within a single country, because for these articles we can safely assume,
            that for broad topics such as mental health, a majority of pageviews come from individuals within these
            respective countries.
            We will thus focus on the following 4 languages "Italian", "Dutch", "Swedish" and "Polish".
            Furthermore picking these countries has the added benefit allowing us to compare data from countries who
            have had different approaches towards the pandemic.
          </p>

          <p>
            Furthermore we have available to us aggregated wikipedia statistics per topic.
          </p>

          <!-- TODO: Add vline for lockdown dates in these 3 countries, also changer title with "per language" instead of "per country"-->
          <figure>
            <img src="https://i.imgur.com/Educ7eX.png" alt="per topic pageviews" style="width:100%">
            <figcaption> </figcaption>
          </figure>

          We can observe, there is indeed an increase in pageviews on wikipedia articles related to "medicine and
          health" during the months of lockdown for articles in these respective languages, what could be cause of
          this
          increase?.

          <p>

          </p>

          <p>

          </p>



          ## COVIDiSTRESS dataset

          # Q1

          # Q2

          # Q3


          # Downfalls and limitations
          TODO MODIFY THIS: TAKEN FROM
          https://www.vox.com/2014/11/13/7211113/wikipedia-flu-disease
          For instance, he suspects that traffic to the English-language Ebola page on Wikipedia surged recently
          (the
          researchers' analysis didn't cover data as recent as the current outbreak). However, that likely had way
          more
          to do with general fear of the disease, rather than actual cases of it in the US or other English-speaking
          countries.

          The key is trying to understand the particular context of the disease and country in question each time —
          rather that blindly assuming Wikipedia data captures it perfectly. "Each time, you have to ask some
          questions," Generous says. "What are the biases in the data? What types of people are searching for their
          diseases? What do those searches really mean?"

          # Conclusion


          <!-- Could try to explain results, propose future work -->

        </body>

      </div>
    </div>
  </div>